@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto&display=swap');
@import "../../../const/styles.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-text-fill-color: $color-white;
  -webkit-box-shadow: 0 0 0 30px $color-light-blue inset !important;
}

.auth-input-container {
  display: flex;
  align-items: center;
  padding: 20px 0;

  &__logo {
    margin-left: 20px;
    height: 40px;
    width: 40px;
  }
  &__input {
    background-color: transparent;
    color: $color-white;
    @extend %font-styles;
  }
  &__error-text {
    padding: 0 20px;
    color: $color-red;
    animation: 1s error-text-animation;

    @keyframes error-text-animation {
      from {
        opacity: 0;
        margin-left: 40px;
      }
      to {
        opacity: 1;
        margin-left: 0;
      }
    }
    @extend %font-styles;
  }
}
