@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto&display=swap');

$color-red: #F1615E;
$color-blue: #353342;
$color-white: #E9EAEC;
$color-light-blue: #444652;
$color-gray: #5c5c73;
$big-font-size: 60px;
$middle-font-size: 40px;
$regular-font-size: 30px;
$small-font-size: 20px;
$default-font-family: "Rajdhani", sans-serif;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px $color-light-blue inset !important;
  font-family: $default-font-family;
  -webkit-text-fill-color: $color-white;
  -webkit-text-size-adjust: $regular-font-size !important;
}

.authorization-container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $color-blue;
  transition: 1s;
}

.sign-in-form {
  width: 100%;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
  height: 100%;
  background-color: $color-blue;
}

.field-error {
  width: 100%;
  &__text {
    font-family: $default-font-family;
    font-size: $small-font-size;
    color: $color-red;
    animation: field-error-animation 1s;
  }
}

@keyframes field-error-animation {
  from {
    opacity: 0;
    padding-left: 15px;
  }
  to {
    opacity: 1;
    padding-left: 0;
  }
}

.app-title {
  transition: 1s;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 50vw;
  height: 100vh;
  background-color: $color-red;
  padding-right: 50px;
  animation: slide-to-left 1.5s;
  &__text {
    animation: slide-text-left 3s;
    transition: 1s;
    width: 25vw;
    font-family: $default-font-family;
    font-size: $big-font-size;
    color: $color-white;
    text-align: right;
  }
}

.auth-switcher {
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 100px;
  left: calc(50vw - 500px / 2);
  top: 80vh;
  &__auth-button {
    &__left {
      border: 3px solid $color-blue;
      border-right: none;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      width: 50%;
      padding: 20px 0;
      font-family: $default-font-family;
      font-size: $regular-font-size;
      color: $color-blue;
      background-color: transparent;
      transition: 0.5s;
    }
    &__right {
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;
      width: 50%;
      padding: 20px 0;
      font-family: $default-font-family;
      font-size: $regular-font-size;
      color: $color-red;
      background-color: transparent;
      border: 3px solid $color-red;
      border-left: none;
      transition: 0.5s;
    }
  }
}

.left {
  left: 50vw;
  justify-content: left;
  animation: slide-to-right 1.5s;
}

.text-left {
  transition: 1s;
  text-align: left;
  padding-right: 0;
  padding-left: 50px;
  animation: slide-text 2s;
}

@keyframes slide-to-right {
  from {
    left: 0;
  }
  to {
    left: 50vw;
  }
}

@keyframes slide-to-left {
  from {
    left: 50vw;
  }
  to {
    left: 0;
  }
}

@keyframes slide-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-text-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active-auth-button {
  transition: 0.5s;
  color: $color-red;
  border-color: $color-red;
}

.input-container {
  padding: 60px 0;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid $color-gray;
  border-top: 1px solid $color-gray;
  background-color: $color-light-blue;
  &__icon {
    width: 40px;
    height: 40px;
    margin-left: 60px;
  }
  &__text-input {
    width: 100%;
    background-color: transparent;
    font-family: $default-font-family;
    font-size: $regular-font-size;
    color: $color-white;
  }
}

.sign-in-title {
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-bottom: 50px;
  width: 100%;
  &__text {
    display: inline-block;
    font-family: $default-font-family;
    font-size: $middle-font-size;
    color: $color-white;
    background-color: $color-blue;
  }
}

.inactive-auth-button {
  transition: 2s;
  color: $color-blue;
  border-color: $color-blue;
}
